<h1><%= I18n.translate :stuff_to_do_group_page_title, :name => @group.lastname %></h1>

<div class="group">
  <div class="splitcontentleft">
    <%= render :partial => 'list', :locals => {:users => @leftusers} %>
  </div>

  <div class="splitcontentright">
    <%= render :partial => 'list', :locals => {:users => @rightusers} %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "stuff_to_do.css", :plugin => "stuff_to_do_plugin", :media => 'all' %>
  <%= javascript_include_tag 'jquery-1.2.6.min.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_include_tag 'ui/ui.core.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_include_tag 'ui/ui.sortable.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_tag("jQuery.noConflict();") %>
<% end %>
